<main>
    <div class="movie-container">
        {{#each movies}}
        <div class="movie-box">
            <img src="{{this.imageUrl}}" alt="{{this.title}}">
            <div class="movie-info">
                <h2>{{this.title}}</h2>
                <p class="genre">{{this.genre}}</p>
                <p>Director: {{this.director}}</p>
                <p>Release Year: {{this.release_year}}</p>
                <p><a class="btn" href="/movies/{{this._id}}/details">Details</a></p>
                <p><a class="btn" href="/movies/{{this._id}}/comments">Comments</a></p>
            </div>
        </div>
        {{/each}}
    </div>
</main>