<main id="movie-details">
  <h1>{{movie.title}}</h1>
  <img class="cube" src="{{movie.imageUrl}}" />
  <div class="details">
    <p><span>Genre:</span> {{movie.genre}}</p>
    <p><span>Director:</span> {{movie.director}}</p>
    <p><span>Release Year:</span> {{movie.release_year}}</p>
    <p><span>Description:</span>{{movie.description}}</p>
    <a class="btn" href="/movies">Back</a>
  </div>
</main>